.team {
  background-color: $third-background-color;
  min-width: 480px;
  @media screen and (min-width: 768px) {
    min-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
  }
  @extend %section;
}

.card {
  width: 450px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    & + & {
      margin-left: 30px;
    }
    &:nth-of-type(3) {
      margin-left: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 0;
    & + & {
      margin-left: 30px;
    }
  }
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: $primary-background-color;
  border-radius: 0px 0px 4px 4px;
  &-list {
    display: flex;
    flex-wrap: wrap;
  }
  &-inform {
    background-color: white;
    text-align: center;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    padding: 30px 0px 24px;
  }
  &-image {
    margin: 0px;
    display: block;
    width: 450px;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}

.person {
  &-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin: 0px;
  }
  &-work {
    color: $description-text-color;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  &-link {
    @extend %list;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    width: 206px;
    margin-left: auto;
    margin-right: auto;
  }
  &-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.person-social .icon {
  width: 20px;
  height: 20px;
  fill: $icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.person-social:hover .icon,
.person-social:focus .icon {
  fill: $primary-background-color;
}
.person-social:hover,
.person-social:focus {
  background-color: $accent-color;
  fill: $secondary-text-color;
}
