$black: #212121;
$primary-text-color: #212121;
$gray-text: #757575;
$gray: #757575;
$description-text-color: #757575;
$white: #ffffff;
$secondary-text-color: #ffffff;
$primary-background-color: #ffffff;
$accent-color: #2196f3;
$blue: #2196f3;
$icon-color: #afb1b8;
$third-background-color: #f5f4fa;
$transition-type: cubic-bezier(0.2, 0, 0.4, 1);
